* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  /* Reset & Base */
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
  }
  
  
  a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
  }
  
  
  h1,
  h2,
  h3 {
    margin-top: 0;
  }
  

  
  
  