footer {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 20px;
  }
  
  
  footer nav {
    margin-top: 10px;
  }
  
  
  footer a {
    color: #00796b;
    margin: 0 10px;
    text-decoration: none;
  }
  